<footer class="footer">
    <small>
        <%= _('Developed by') %> FR
    </small>
    <nav>
        <ul>
            <li><%= link_to _('About'),   '#' %></li>
            <li><%= link_to _('Contact'), '#' %></li>
        </ul>
    </nav>
</footer>
